    <header>
        <div id="top-header">
          <div class="container">
            <img src="/images/BrandDay_T1021_mainbanner__1263x60.jpg" alt="">
          </div>
        </div>
        <div id="main-header">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
                <img src="/images/fahasa-logo.png" alt="">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn" name="" id="">
                <!-- <span class="button-search fa fa-search"></span> -->
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <div class="row">
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="">
                      <div id="icon-nofi" class="text-center icon">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <br>
                        <div>THÔNG BÁO</div>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="">
                      <div id="icon-cart" class="text-center icon">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        <br>
                        <div>GIỎ HÀNG</div>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="">
                      <div id="icon-login" class="text-center icon">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <br>
                        <div>ĐĂNG NHẬP</div>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" class="text-center">
                    <a href="">
                      <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>