      <div id="main-container"> 
        <div id="menu-header">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col">
                <div class="card">
                  <div class="card-header text-center">
                    Danh Mục Sản Phẩm
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a href="">Sách Trong Nước</a>
                      <div class="drop-menu">
                        <div class="row">
                          <div class="col">
                            <span>VĂN HỌC</span>
                            <ul>
                              <li><a href="">Tiểu Thuyết</a></li>
                              <li><a href="">Truyện Ngắn - Tản Văn</a></li>
                              <li><a href="">Light Novel</a></li>
                              <li><a href="">Ngôn Tình</a></li>
                              <li class="xemthem"><a href="">Xem thêm</a></li>
                            </ul>
                          </div>
                          <div class="col">
                            <span>KINH TẾ</span>
                            <ul>
                              <li><a href="">Nhân Vật - Bài Học Kinh Doanh</a></li>
                              <li><a href="">Quản Trị - Lãnh Đạo</a></li>
                              <li><a href="">Marketing</a></li>
                              <li><a href="">Bán Hàng</a></li>
                              <li class="xemthem"><a href="">Xem thêm</a></li>
                            </ul>
                          </div>
                          <div class="col">
                            <span>TÂM LÝ - KĨ NĂNG SỐNG</span>
                            <ul>
                              <li><a href="">Kỹ Năng Sống</a></li>
                              <li><a href="">Rèn Luyện Nhân Cách</a></li>
                              <li><a href="">Tâm Lý</a></li>
                              <li><a href="">Sách Cho Tuổi Mới Lớn</a></li>
                              <li class="xemthem"><a href="">Xem thêm</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <span>SÁCH THIẾU NHI</span>
                            <ul>
                              <li><a href="">Manga - Comic</a></li>
                              <li><a href="">Kiến Thức Bách Khoa</a></li>
                              <li><a href="">Sách Tranh Kỹ Năng Sống Cho Trẻ</a></li>
                              <li><a href="">Vừa Học - Vừa Học Vừa Chơi Với Trẻ</a></li>
                              <li class="xemthem"><a href="">Xem thêm</a></li>
                            </ul>
                          </div>
                          <div class="col">
                            <span>TIỂU SỬ - HỒI KÝ</span>
                            <ul>
                              <li><a href="">Câu Chuyện</a></li>
                              <li><a href="">Cuộc Đời Chính Trị</a></li>
                              <li><a href="">Chính Trị Kinh Tế</a></li>
                              <li><a href="">Nghệ Thuật - Giải Trí</a></li>
                              <li class="xemthem"><a href="">Xem thêm</a></li>
                            </ul>
                          </div>
                          <div class="col">
                            <span>GIÁO KHOA - THAM KHẢO</span>
                            <ul>
                              <li><a href="">Sách Giáo Khoa</a></li>
                              <li><a href="">Sách Tham Khảo</a></li>
                              <li><a href="">Luyện thi ĐH</a></li>
                              <li><a href="">CĐ Mẫu Giáo</a></li>
                              <li class="xemthem"><a href="">Xem thêm</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <a href="">FOREIGN BOOKS</a>
                    </li>
                    <li class="list-group-item">
                      <a href="">VPP - Dụng Cụ Học Sinh</a>
                    </li>
                    <li class="list-group-item">
                      <a href="">Đồ Chơi</a>
                    </li>
                    <li class="list-group-item">
                      <a href="">Làm Đẹp - Sức Khỏe</a>
                    </li>
                    <li class="list-group-item">
                      <a href="">Hành Trang Đến Trường</a>
                    </li>
                    <li class="list-group-item">
                      <a href="">VPP - DHCS Theo Thương Hiệu</a>
                    </li>
                    <li class="list-group-item">
                      <a href="">Đồ Chơi theo thương hiệu</a>
                    </li>
                    <li class="list-group-item">
                      <a href="">Bách Hóa Online - Lưu Niệm</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="./images/BrandDay_T1021_mainbanner_920x420.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/NCC_TanViet_mainbanner__920x420.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/DCVP__920x420.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/TrangManga920x420.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./images/920x420_phienchodocu.png" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col">
              <img src="./images/BrandDay_T1021_bo2__310x210.jpg" alt="">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col">
              <img src="./images/BrandDay_T1021_bo3__310x210.jpg" alt="">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col">
              <img src="./images/310x210-80.jpg" alt="">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col">
              <img src="./images/moca_310.jpg" alt="">
            </div>
          </div>
        </div>
        <div id="icons-menu">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col">
                <div class="icon">
                  <img src="./images/ico_flashsale.png" alt="">
                  <div class="text-center">Flash Sale</div>
                </div>
                <div class="icon">
                  <img src="./images/ico_mgg.png" alt="">
                  <div class="text-center">Mã Giảm Giá</div>
                </div>
                <div class="icon">
                  <img src="./images/ico_PCSC.png" alt="">
                  <div class="text-center">Phiên Chợ Sách Cũ</div>
                </div>
                <div class="icon">
                  <img src="./images/ico-xuhuong.png" alt="">
                  <div class="text-center">Xu Hướng</div>
                </div>
                <div class="icon">
                  <img src="./images/ico_covid-2.png" alt="">
                  <div class="text-center">Health Care</div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col">
                <div class="icon">
                  <img src="./images/ico_vpp_hot.png" alt="">
                  <div class="text-center">Văn Phòng Phẩm</div>
                </div>
                <div class="icon">
                  <img src="./images/ico_goiy.png" alt="">
                  <div class="text-center">Gợi Ý Cho Bạn</div>
                </div>
                <div class="icon">
                  <img src="./images/ico_dochoi.png" alt="">
                  <div class="text-center">Đồ Chơi</div>
                </div>
                <div class="icon">
                  <img src="./images/ico_manga.png" alt="">
                  <div class="text-center">Manga - Comic</div>
                </div>
                <div class="icon">
                  <img src="./images/ico_kinhte.png" alt="">
                  <div class="text-center">Kinh Tế</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="flash-sale" class="main-contain-1">
          <div class="container">
            <div class="item-header">
              <a href="">
                <img src="./images/ico_flashsale.png" alt="">
                <span>FLASH SALE</span>
              </a>
              <span class="m-lg-3">| Kết thúc trong</span>
              <div class="count-down">
                <div class="count-down-box text-start d-inline-block">00</div>
                <span>:</span>
                <div class="count-down-box text-start d-inline-block">19</div>
                <span>:</span>
                <div class="count-down-box text-start d-inline-block">18</div>
                </div>
              </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/image_174669.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Giamilia, Truyện Núi Đồi Và Thảo Nguyên</h5>
                  </div>
                  <div class="price">
                    <h2>24.150đ</h2>
                    <h3>69.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/image_232602.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Chữ A màu đỏ</h5>
                  </div>
                  <div class="price">
                    <h2>90.000đ</h2>
                    <h3>200.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/s_ng-t_ch-c_c_-_i-h_t-b_c---b_a-1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">The Business Model Book</h5>                  
                  </div>
                  <div class="price">
                    <h2>35.000đ</h2>
                    <h3>70.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/image_195509_1_31567.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Có làm mới có sai</h5>                    
                  </div>
                  <div class="price">
                    <h2>14.560đ</h2>
                    <h3>26.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/9786049573521.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">1001 Trò chơi tư duy - Quyển 5</h5>                   
                  </div>
                  <div class="price">
                    <h2>31.200đ</h2>
                    <h3>39.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <a href="/products"><div class="btn">Xem Thêm</div></a>
            </div>
          </div>
        </div>
        <div id="xu-huong-mua-sam" class="main-contain-1">
          <div class="container">
            <div class="item-header">
              <a href="">
                <img src="./images/ico-xuhuong.png" alt="">
                <span>XU HƯỚNG MUA SẮM</span>
              </a>
            </div>
            <div class="select-header">
              <a href=""><div class="active">Xu Hướng Theo Ngày</div></a>
              <a href=""><div>Sách HOT - Giảm Sốc</div></a>
              <a href=""><div>Bestseller Ngoại Văn</div></a>
            </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/dochoi_6.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bộ Đồ Chơi Cát Động Lực CĐL-002</h5>
                  </div>
                  <div class="price">
                    <h2>40.500đ</h2>
                    <h3>45.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_7.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Vui Học Tiếng Anh Cùng Thẻ Đồ Chơi - DUKA - DK 81014</h5>
                  </div>
                  <div class="price">
                    <h2>216.000đ</h2>
                    <h3>240.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_8.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Xếp Hình 475 Mảnh - Ngôi Nhà Mơ Ước 475-025</h5>                  
                  </div>
                  <div class="price">
                    <h2>88.000đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_9.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Robot Số Biến Hình Thông Minh (Lắp Ghép Thành 1 Robot Khổng Lồ)</h5>                    
                  </div>
                  <div class="price">
                    <h2>449.100đ</h2>
                    <h3>499.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_10.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Seri Phòng Thí Nghiệm Nhỏ STEM 1007 - Con Tìm Hiểu Hệ Mặt Trời (Vật Lý)</h5>                   
                  </div>
                  <div class="price">
                    <h2>116.100đ</h2>
                    <h3>129.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/image_174669.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Giamilia, Truyện Núi Đồi Và Thảo Nguyên</h5>
                  </div>
                  <div class="price">
                    <h2>24.150đ</h2>
                    <h3>69.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/image_232602.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Chữ A màu đỏ</h5>
                  </div>
                  <div class="price">
                    <h2>90.000đ</h2>
                    <h3>200.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/s_ng-t_ch-c_c_-_i-h_t-b_c---b_a-1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">The Business Model Book</h5>                  
                  </div>
                  <div class="price">
                    <h2>35.000đ</h2>
                    <h3>70.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/image_232602.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Chữ A màu đỏ</h5>
                  </div>
                  <div class="price">
                    <h2>90.000đ</h2>
                    <h3>200.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/s_ng-t_ch-c_c_-_i-h_t-b_c---b_a-1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">The Business Model Book</h5>                  
                  </div>
                  <div class="price">
                    <h2>35.000đ</h2>
                    <h3>70.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <div class="btn">Xem Thêm</div>
            </div>
          </div>
        </div>
        <div id="giao-khoa-tham-khao" class="main-contain-1">
          <div class="container">
            <div class="select-header">
              <a href=""><div class="active">Giáo khoa - Tham khảo</div></a>
            </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/gktk_1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tiếng Anh 10 - Tập 2 - Sách Học Sinh (2021)</h5>
                  </div>
                  <div class="price">
                    <h2>30.000đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/gktk_2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Sách Giáo Khoa Bộ Lớp 2 - Sách Bài Học - Bộ Sách Chân Trời</h5>
                  </div>
                  <div class="price">
                    <h2>179.000đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/gktk_3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Luyện Tập Mĩ Thuật 3 - Tập 1 (2021)</h5>                  
                  </div>
                  <div class="price">
                    <h2>18.900đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/gktk_4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Vở Tập Vẽ 3 (2021)</h5>                    
                  </div>
                  <div class="price">
                    <h2>12.800đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/gktk_5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Sách Giáo Khoa Bộ Lớp 6 - Sách Bài Tập - Bộ Sách Chân Trời ...</h5>                   
                  </div>
                  <div class="price">
                    <h2>133.000đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <div class="btn2">Xem Thêm</div>
            </div>
          </div>
        </div>
        <div id="VPP-theo-mua" class="main-contain-1">
          <div class="container">
            <div class="select-header">
              <a href=""><div class="active">Hóa Trang Halloween</div></a>
              <a href=""><div>Trang Trí Halloween</div></a>
              <a href=""><div>Văn Phòng Phẩm Cute</div></a>
              <a href=""><div>Thú Bông</div></a>
            </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/VPPtheomua_1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Áo Choàng Hóa Trang Halloween 75 cm 1607-6-2021 - Màu Đen</h5>
                  </div>
                  <div class="price">
                    <h2>22.100đ</h2>
                    <h3>26.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/VPPtheomua_2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Nón Hoá Trang Halloween YL-45-2021 - Nón Phù Thủy - Màu Xanh</h5>
                  </div>
                  <div class="price">
                    <h2>15.300đ</h2>
                    <h3>18.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/VPPtheomua_3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Nón Hóa Trang Halloween YL-40-2021 - Nón Phù Thủy - Mạng Nhện Vàng</h5>                  
                  </div>
                  <div class="price">
                    <h2>34.000đ</h2>
                    <h3>40.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/VPPtheomua_4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cài Tóc Có Khăn Voan Hoá Trang Halloween YL-35-2021 - Hình Đầu Lâu - Màu Cam</h5>                    
                  </div>
                  <div class="price">
                    <h2>24.650đ</h2>
                    <h3>29.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/VPPtheomua_5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Nón Hoá Trang Halloween YL-36-2021 - Nón Phù Thủy - Màu Cam/h5>                   
                  </div>
                  <div class="price">
                    <h2>22.950đ</h2>
                    <h3>27.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <div class="btn2">Xem Thêm</div>
            </div>
          </div>
        </div>
        <div id="an-toan" class="main-contain-1">
          <div class="container">
            <div class="item-header2">
              <span>AN TOÀN PHÒNG CHỐNG DỊCH</span>
            </div>
            <div class="select-header">
              <a href=""><div class="active">Khẩu Trang</div></a>
              <a href=""><div>Nước rửa tay - Xà Phòng</div></a>
            </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/antoan_1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Khẩu Trang Y Tế 4 Lớp WAKAMONO Diệt Virus Corona 99% (10 Cái/Hộp)</h5>
                  </div>
                  <div class="price">
                    <h2>45.000đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/antoan_2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Kính Bảo Hộ Cao Cấp Asia Face Shield</h5>
                  </div>
                  <div class="price">
                    <h2>52.250đ</h2>
                    <h3>55.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/antoan_3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Khẩu Trang Famapro Max 4 Lớp Màu Trắng (40 Cái/Hộp)</h5>                  
                  </div>
                  <div class="price">
                    <h2>30.400đ</h2>
                    <h3>32.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/antoan_4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Khẩu Trang Famapro Max 4 Lớp Màu Xanh (40 Cái/Hộp)</h5>                    
                  </div>
                  <div class="price">
                    <h2>30.400đ</h2>
                    <h3>32.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/antoan_5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Khẩu Trang Famapro Max 4 Lớp Màu Đen (40 Cái/Hộp)</h5>                   
                  </div>
                  <div class="price">
                    <h2>31.200đ</h2>
                    <h3>39.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <div class="btn2">Xem Thêm</div>
            </div>
          </div>
        </div>
        <div id="do-choi" class="main-contain-1">
          <div class="container">
            <div class="select-header">
              <a href=""><div class="active">TOP Đồ Chơi HOT</div></a>
              <a href=""><div>Xếp Hình - Puzzle</div></a>
              <a href=""><div>Rubik</div></a>
            </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/dochoi_6.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bộ Đồ Chơi Cát Động Lực CĐL-002</h5>
                  </div>
                  <div class="price">
                    <h2>40.500đ</h2>
                    <h3>45.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_7.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Vui Học Tiếng Anh Cùng Thẻ Đồ Chơi - DUKA - DK 81014</h5>
                  </div>
                  <div class="price">
                    <h2>216.000đ</h2>
                    <h3>240.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_8.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Xếp Hình 475 Mảnh - Ngôi Nhà Mơ Ước 475-025</h5>                  
                  </div>
                  <div class="price">
                    <h2>88.000đ</h2>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_9.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Robot Số Biến Hình Thông Minh (Lắp Ghép Thành 1 Robot Khổng Lồ)</h5>                    
                  </div>
                  <div class="price">
                    <h2>449.100đ</h2>
                    <h3>499.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_10.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Seri Phòng Thí Nghiệm Nhỏ STEM 1007 - Con Tìm Hiểu Hệ Mặt Trời (Vật Lý)</h5>                   
                  </div>
                  <div class="price">
                    <h2>116.100đ</h2>
                    <h3>129.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-item">
              <div class="card-group">
                <div class="card">
                  <img src="./images/dochoi_1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Robot Nắp Chai Aquasports Rồng Xanh - Bottleman 172772</h5>
                  </div>
                  <div class="price">
                    <h2>139.300đ</h2>
                    <h3>199.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Đồ Chơi Lắp Ráp LEGO 42117 - Race Plane</h5>
                  </div>
                  <div class="price">
                    <h2>216.300đ</h2>
                    <h3>309.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Robot Nắp Chai Colamaru Phượng Hoàng - Bottleman 172765</h5>                  
                  </div>
                  <div class="price">
                    <h2>139.300đ</h2>
                    <h3>199.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Đồ Chơi Giáo Dục STEM - Lắp Ráp Robot Đa Năng Chạy Bằng Năng Lượng Mặt Trời 214</h5>                    
                  </div>
                  <div class="price">
                    <h2>215.100đ</h2>
                    <h3>239.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
                <div class="card">
                  <img src="./images/dochoi_5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Đồ Chơi Cờ Trí Tuệ UNO W2085</h5>                   
                  </div>
                  <div class="price">
                    <h2>134.100đ</h2>
                    <h3>149.000đ</h3>
                  </div>
                  <div class="card-footer">
                    <div class="sale">Đã bán 0</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <div class="btn2">Xem Thêm</div>
            </div>
          </div>
        </div>
        <div id="bang-xep-hang" class="main-contain-1">
          <div class="container">
            <div class="item-header2">
              <span>BẢNG XẾP HẠNG FAHASA</span>
            </div>
            <div class="select-header">
              <a href=""><div class="active">Văn Học</div></a>
              <a href=""><div>Light Novel</div></a>
              <a href=""><div>Thiếu Nhi</div></a>
              <a href=""><div>Manga - Comic</div></a>
              <a href=""><div>Kinh Tế</div></a>
              <a href=""><div>Tâm Lý - Kỹ Năng Sống</div></a>
              <a href=""><div>Nuôi Dạy Con</div></a>
              <a href=""><div>Children's Book</div></a>
              <a href=""><div>Business, Finance & Management</div></a>
            </div>
            <div class="row">
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="./images/top_1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Tô Bình Yên Vẽ Hạnh Phúc (Tái Bản 2021)</h5>
                        <p class="card-text">Kulzsc</p>
                        <p class="card-text"><small class="score">31326 điểm</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="./images/top_2.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Nhà Giả Kim (Tái Bản 2020)</h5>
                        <p class="card-text">Paulo Coelho</p>
                        <p class="card-text"><small class="score">31243 điểm</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="./images/top_3.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Cây Cam Ngọt Của Tôi</h5>
                        <p class="card-text">José Mauro de Vasconcelos</p>
                        <p class="card-text"><small class="score">30645 điểm</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="./images/top_4.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Từ Điển Tiếng “Em” (Tái Bản 2021)</h5>
                        <p class="card-text">Khotudien</p>
                        <p class="card-text"><small class="score">30598 điểm</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="./images/top_5.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Tôi Là Bêtô (Tái Bản 2018)</h5>
                        <p class="card-text">Nguyễn Nhật Ánh</p>
                        <p class="card-text"><small class="score">30560 điểm</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 right">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="./images/top_1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title">Tô Bình Yên Vẽ Hạnh Phúc (Tái Bản 2021)</h4>
                        <h5 class="card-text">Tác giả: Kulzsc</h5>
                        <h5 class="card-text">Nhà xuất bản: NXB Phụ Nữ Việt Nam</h5>
                        <h4 class="card-title">63.960đ</h4>
                        <h5 class="card-text">78.000</h5>
                        <span>Tô Bình Yên Vẽ Hạnh Phúc</span>
                        <span>Sau thành công của cuốn sách đầu tay “Phải lòng với cô đơn” chàng họa sĩ nổi tiếng và tài năng Kulzsc đã trở lại với một cuốn sách vô cùng đặc biệt mang tên: "Tô bình yên - vẽ hạnh phúc” –  sắc nét phong cách cá nhân với một chút “thơ thẩn, rất hiền”.</span>
                        <span>Không giống với những cuốn sách chỉ để đọc, “Tô bình yên – vẽ hạnh phúc”  là một cuốn sách mà độc giả vừa tìm được “Hạnh phúc to to từ những điều nho nhỏ” vừa được thực hành ngay lập tức. Một sự kết hợp mới lạ đầy thú vị giữa thể loại sách tản văn và sách t&o...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <div class="btn">Xem Thêm</div>
            </div>
          </div>
        </div>
        <div id="VPP-noi-bat" class="main-contain-1 main-contain-2">
          <div class="container">
            <div class="item-header2">
              <span>VPP Nổi Bật</span>
            </div>
            <div class="select-header">
              <a href=""><div class="active">VPP Giá Tốt</div></a>
              <a href=""><div>Bán Chạy</div></a>
              <a href=""><div>Bút Bi</div></a>
              <a href=""><div>Bia Lá</div></a>
              <a href=""><div>Giấy Photo</div></a>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="./images/VPP_banner.jpg" alt="">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                  <div class="row">
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/VPP_bc_1.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>Bóp Viết Vải Phước Linh PL102 - Màu Hồng</h3>
                            <h2>27.000đ</h2>
                            <h1>53.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/VPP_bc_2.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>Ba Lô Học Sinh Cấp 1 Chống Gù B.bag - Teddy Bear - Xanh Lá - B-12-015</h3>
                            <h2>299.500đ</h2>
                            <h1>599.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/VPP_bc_3.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>Bóp Viết Vải Phước Linh HGN-PL109</h3>
                            <h2>44.500đ</h2>
                            <h1>89.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/VPP_bc_4.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>Bóp Viết Phước Linh HBL- PL113 - Màu Nâu</h3>
                            <h2>44.500đ</h2>
                            <h1>89.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="button">
                    <div class="btn2">Xem Thêm</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div id="van-hoc" class="main-contain-1 main-contain-2">
          <div class="container">
            <div class="item-header2">
              <span>VĂN HỌC</span>
            </div>
            <div class="select-header">
              <a href=""><div class="active">Giá Tốt</div></a>
              <a href=""><div>Truyện Ngắn - Tản Văn</div></a>
              <a href=""><div>Ngôn Tình</div></a>
              <a href=""><div>Light Novel</div></a>
              <a href=""><div>Văn Học Kinh Điển</div></a>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="./images/vanhoc_banner.jpg" alt="">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                  <div class="row">
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/vanhoc_1.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>Chiếc Tất Nhuộm Bùn - Series Thám Tử Kỳ Phát</h3>
                            <h2>61.620đ</h2>
                            <h1>79.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/vanhoc_2.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>[Phiên chợ sách cũ] Trò Chơi Cấm - Tập 1 (Tái Bản 2019)</h3>
                            <h2>73.500đ</h2>
                            <h1>147.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/vanhoc_3.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>Đạo Quán Có Ma - Địch Công Kỳ Án (Tập 4)</h3>
                            <h2>61.620đ</h2>
                            <h1>79.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card mb-3" style="max-height: 300px;">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <img src="./images/vanhoc_4.jpg" alt="">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 info-item">
                            <h3>Địch Công Kỳ Án - Thi Nhân Và Sát Nhân (Tập 9)</h3>
                            <h2>83.460đ</h2>
                            <h1>107.000đ</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="button">
                    <div class="btn2">Xem Thêm</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider">
          <div class="container">
            <div>
              <img src="./images/slider_1.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_2.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_3.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_4.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_5.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_6.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_7.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_8.jpg" alt="">
            </div>
            <div>
              <img src="./images/slider_9.png" alt="">
            </div>
          </div>
        </div>
      </div>          